{% load static %}
<!DOCTYPE html>
<html lang="en"> 
  <head> 
    <meta charset="utf-8" />  

    <title>Uniqlo system</title>  
    <link id="theme" rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" title="theme" />  
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans:300italic|Open+Sans+Condensed:700|Open+Sans+Condensed:300|Open+Sans+Condensed:300|Open+Sans+Condensed:300" type="text/css" />  
	<script type="text/javascript" language="javascript" src="{% static '/js/jquery-1.8.1.min.js' %}"></script>  
	<script type="text/javascript" language="javascript" src="{% static '/js/scripts.js' %}"></script>  
	<script type="text/javascript" language="javascript" src="{% static '/js/theme.js' %}"></script>  
	<script type="text/javascript" language="javascript" src="{% static '/js/custom.js' %}"></script>  
  </head>  
  <body> 
    <div id="wrapper">  
      <div class="row"> 
        <header id="container-top"> 
          <div id="logo"></div>  
          <nav> 
            <div id="hmenu"> 
              <ul> 
                <li> 
                  <a href="order">再訂購點</a> 
                </li>  
              </ul> 
            </div> 
            <div id="hmenu"> 
              <ul> 
                <li> 
                  <a href="plot">查看存貨</a> 
                </li>  
              </ul> 
            </div>
            <div id="hmenu"> 
              <ul> 
                <li> 
                  <a href=production>EPQ</a> 
                </li>  
              </ul> 
            </div>  
            <div id="hmenu"> 
              <ul> 
                <li> 
                  <a href=update>訂單列表</a> 
                </li>  
              </ul> 
            </div> 
            <div id="hmenu"> 
              <ul> 
                <li> 
                  <a href="material">原物料狀態</a> 
                </li>  
              </ul> 
            </div> 
            <div id="hmenu"> 
              <ul> 
                <li> 
                  <a href="home">Home</a> 
                </li>  
              </ul> 
            </div> 
          </nav>  
          <div class="clear"></div> 
        </header> 
      </div>  
      <div class="row"> 
        <div id="container" class="pie"> 
            <div id="tagline"> 
              <h1>
                Production Departmemt
              </h1>
            </div>   
            <div id="page">
              <div id="main">
                  <div class="clear" style="height:140px"></div>
                  <section class="home">
                    <h3>查看{{ mat_id }}存貨</h3>
                    <div class="clear" style="height:40px"></div>
                    <div>
                        <td>
                            <form name="filt_id" action="/uniqlo/plot" method="post">
                                {% csrf_token %}
                                <select name="filt_id" style="font-size: large;"><b>
                                    {% for c in allproduct %}
                                    {{ allproduct  }}
                                    <option>{{ c.m_id }}</option>
                                    {% endfor %}
                                </b></select>
                                <button type="submit" class="btn btn-warning">查看存貨</button>
                            </form>
                        </td>
                    </div>
                    <div>

                        {% autoescape off %}
                        {{ plot_div }}
                        {% endautoescape %}
                    </div>
                  </section>
              </div>
          </div>
          <footer id="footer" class="pie"> 
            <div class="bg"></div> 
            </div> 
          </footer> 
        </div> 
      </div>   
    </div> 
  </body> 
</html>